
.HostDetails{
    padding-left: 5%;
    padding-right: 5%;
}

.HostDetails_title{
    margin-top: 1rem;
    text-transform: capitalize;
}

.HostDetails_back svg{
    color: black;
    width: 30px !important;
    height: 30px !important;
}

.HostDetails_title h3{
    font-weight: 600;
}

.HostDetails_order{
    display: flex;
    margin-top: 80px;
}


