
.prenotationSearch{
    width: 300px;
}

.ps_title{
    font-size: 32px !important;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600 !important;
}

.ps_search_box p{
    font-weight: bold;
    font-size: 16px !important;
    padding-left: 10px;
    padding-bottom: 5px;
}

.ps_search_box span{
    width: 210px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 30px;

    margin-bottom: 30px;
}

.ps_search_box input{
    width: 180px;
    font-size: 14px;
    color: gray;
    border: none;
    
    outline: none;
    
}

.ps_filter button{
    text-transform: none;
    color: black;
    width: 80px;
    font-size: 16px;
}

.css-ahj2mt-MuiTypography-root{
    font-size: 14px !important;
}

.css-i4bv87-MuiSvgIcon-root{
    width: 20px !important;
    height: 20px !important;
}