@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.searchResultPage{
    padding-left: 5%;
    padding-right: 5%;
}

.directory{
    width: 100%;
    margin-top: 30px;
    align-items: center;
}

.directory svg{
    width: 12px !important;
    height: 12px !important;
}

.directory button{
    text-transform: none;
    font-weight: regular;
    color: black;
}

.viewMap{
    width: 100%;
    align-items: flex-end;
    padding-bottom: 20px;
}

.viewMap button{
    width: 200px;
    text-transform: none;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    font-size: 16px;

}

.viewMap button:hover{
    background-color: white;
    text-decoration: underline;
}

.sr_container{
    display: flex;
}

.myCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media only screen and (max-width: 821px) {
    .directory{
        display: none !important;
    }
    .ps_container{
        display: none;
    }

    .myCardContainer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .myCardBox{
        margin-left: 0 !important;
        margin-bottom: 20px !important;
    }
}