

.NotFound{
    display: flex;
    justify-content: center;
}

.NotFound img{
    width: 50%;
}

.NotFound_box{
    width: 50%;
}

.MuiGrid-container{
}

@media only screen and (max-width: 1301px) {
    .NotFound{
        flex-direction: column;
        align-items: center;
    }

    .NotFound img{
        width: 90%;
    }
    
    .NotFound_box{
        width: 90%;
    }
}