
.myCardBox{
    width: 316px;
    margin-bottom: 50px;
    margin-left: 20px;
    
}

.myCard {
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px !important;
}

.myCardMedia{
    height: 220px;
}

.myCard_content{
    padding-bottom: 15px !important;
}

.myCard_content h5{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
}

.myCard_content h6{
    font-size: 13px;
    text-transform: capitalize;
}

.mc_actions{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.mc_reviews{
    display: flex;
    align-items: center;
}

.mc_reviews_vote{
    border: 3px solid #5CC0BA;
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 10px;

    font-size: 20px;
    font-weight: bold;
    color: rgb(93, 93, 93);
}

.mc_reviews_desc{

}

.mc_reviews_desc h6{
    font-size: 13px;
    font-weight: 500;
} 

.mc_reviews_desc p{
    font-size: 11px;
    color: gray;
} 

.mc_actions_button button{
    color: black;
    background-color: #FFC533;
    height: 35px;
    width: 100px;
    border-radius: 30px;
}

.mc_actions_button button:hover{
    background-color: rgb(255, 225, 0);
}

@media only screen and (min-width: 560px) and (max-width: 821px) {

    .myCardBox{
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .myCard{
        display: flex;
        width: 100%;
        height: 180px;
    }
    .myCardMedia{
        width: 40% !important;
    }

    .myCardBox_content{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .myCard_content{
        margin-left: 10px;
        margin-top: 15px;
    }

    .mc_actions{
        margin-left: 10px;
        margin-right: 10px;
    }
}
