
.MobileFilter{
    display: none;
}

@media only screen and (max-width: 821px) {

    .MobileFilter{
        display: flex;
        justify-content: space-between;

        margin-bottom: 30px;

    }

    .MobileFilter_box{
        display: flex;
        align-items: center;
    }

    .box_button_back{
        color: black !important;
    }
    .box_button_map{
        text-transform: none !important;
        color: black !important;
        background-color: #5CC0BA !important;
        border-radius: 30px !important;
        height: 35px !important;
    }

}
