

.HostCart{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    width: 18%;
    margin-left: 2%;
    height: 300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HostCart h3{
    font-size: 24px;
    margin-bottom: 30px;
}

.HostCart_stack{
    margin-bottom: 30px;
}

.HostCart_stack p{
    font-size: 16px;
}

.HostCart_total{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.HostCart button{
    color: black;
    background-color: #FFC533;
    text-transform: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}

.HostCart button:hover{
    background-color: #FFC533
}


@media only screen and (max-width: 1301px) {

    .HostCart{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        margin-left: 0;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .HostCart h3{
        display: none;
    }

    .HostCart_stack{
        display: none;
    }

    .HostCart_stack{
        margin-bottom: 0;
    }

    .HostCart_stack p{
        display: none;
    }
    
    .HostCart_total{
        margin-bottom: 0;
        order: -1;
        margin-left: 3%;
    }
    
    .HostCart button{
        width: 150px;
        margin-right: 3%;
    }
    
}