

.HostContact{
    margin-top: 50px;
    margin-bottom: 50px;
}

.HostContact h2{
    font-size: 35px;
}

.HostContact_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.HostContact_box p{
    margin-right: 40px;
    font-size: 17px;
    margin-top: 5px;
}