
.HostDate{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.HostDate h3{
    font-size: 30px;
}

.HostDate_box{
    display: flex;
}

.HostDate_stack{
    margin-left: 30px;
}

.HostDate_stack p{
    font-weight: bold;
    font-size: 16px !important;
    padding-left: 10px;
    padding-bottom: 5px;
}

.HostDate_stack span{
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 30px;

    margin-bottom: 30px;
}

.HostDate_stack input{
    width: 260px;
    font-size: 14px;
    color: gray;
    border: none;
    
    outline: none;
    
}

@media only screen and (max-width: 921px) {

    .HostDate{
        width: 100%;
    }
    
    .HostDate h3{
        display: none;
    }

    .HostDate_box{
        width: 100%;
        justify-content: space-between;
    }

    .HostDate_stack{
        width: 50%;
        margin-left: 0;
    }

    .HostDate_stack span{
        width: 93%;

    }

    .HostDate_stack input{
        width: 90%;
    }
    
}

@media only screen and (max-width: 901px) {
    .HostDate_box{
        flex-direction: column;
        align-items: center;
    }

    .HostDate_stack{
        width: 60%;
    }
}

@media only screen and (max-width: 801px) {
    .HostDate_stack{
        width: 70%;
    }
}

@media only screen and (max-width: 701px) {
    .HostDate_stack{
        width: 80%;
    }
}

@media only screen and (max-width: 601px) {
    .HostDate_stack{
        width: 100%;
    }
}